* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
    
   
}

body {
 
    height: 100vh;
    width: 100%;
  
  

}

.header {
    height: 150px;
    width: 100%;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30vw;
    
    
}

.headerleft{

height: 10vh;
width: 25vw;
display: flex;
justify-content: left;
align-items: center;




}

.headerright{
height: 10vh;
width: 30vw;
display: flex;
justify-content: space-between;
align-items: center;


}


.headerleft div{
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;

    font-weight: 800;
}

.headerleft div span{
    color: crimson;
}

.items{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.home{
    color: crimson;
}

/* ----------------------------------------            M A I N            -------   */

.main{
    display: flex;
 

}

.left{
    height: calc( 100vh - 150px);
    width: 50%;
 
    position: relative;
    display: flex;
    justify-content:end;
    align-items: start;

   
 

}
.right{

    height: calc( 100vh - 150px);
    width: calc(100% - 30%);
   
    background-image: url(Images/boy4.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 90vh;
   


}


.introDiv{
    height: 70vh ;
    width: 80%;
    display: flex;
    flex-direction: column;
   
    justify-content: end;
    gap: 50px;
    
   
  
}

.introDiv div{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    font-weight: 900;
   
  
}


/* ----------------                         button               */

.btnDiv{

}


.btnDiv{
    height: 10vh;
  width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 70px;
  
   
    
}
button{
    height: 40px;
    width: 10rem;
    border: 2px solid white;
    border-radius: 7px;
    box-shadow: 2px 1px 35px -13px #ccc;
 
   

    
}

.deepak{
    color: #ff004f;
    font-size: 5rem;
}


/* ----------------------------------------2nd part -------------------------*/

.mainSecond{
    display: flex;
}


.leftSecond{
    height: 80vh;
    width: 40%;
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 50vh;
  
   

}

.rightSecond{
    height: 80vh;
    width: 60%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}

.imgDiv{
    height: 65vh;
    width: 65%;
    
    background-image: url(Images/boy1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.aboutME{
margin-top: 80px;
font-size: 60px;

}

.paragraph{
  
    color: #7c7878;
    letter-spacing: 1px;
    font-size: 15px;
    width: 80%;
    font-size: 14px;
 

}

.skilExp{
    width: 30vw;
   
    display: flex;
    justify-content: space-between;
    position: relative;
    
    
}
.skilExp div{
    list-style: none;
    font-size: 18px;
    letter-spacing: 3px;
    color: #b3b3b3;
    font-weight: 500;
    cursor: pointer;
}

.skilExp div::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.skilExp div.active-link::after{
    width: 50%;

}